@model CompanyManagementWeb.ViewModels.PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="d-flex justify-content-between mt-4">
    <span class=""><em>@Model.CategoryName</em></span>
    <span class=""><em>@Model.DepartmentName - @Model.CreatedDate.Value.ToString("dd/MM/yyyy hh:mm tt")</em></span>
</div>
<h1>@Model.Title</h1>
<h5>@Model.Description</h5>
<hr />

<div>@Html.Raw(Model.Content)</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
