@model CompanyManagementWeb.ViewModels.ScheduleEditViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Bạn có muốn xóa?</h3>
<div>
    <h4>Lịch trình</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormattedDate)
        </dd>
        <dt class = "col-sm-2">
            Thời gian bắt đầu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormattedStartTime)
        </dd>
        <dt class = "col-sm-2">
            Thời gian kết thúc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormattedEndTime)
        </dd>
        <dt class = "col-sm-2">
            Phòng ban
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedDepartment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
