@model CompanyManagementWeb.ViewModels.ScheduleViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between mt-4">
    <span class=""><em>@Model.DepartmentName</em></span>
    <span class=""><em>@Model.FormattedDate | @Model.FormattedStartTime - @Model.FormattedEndTime</em></span>
</div>
<h1>@Model.Title</h1>
<h5>@Model.Description</h5>
<hr />

<div>@Html.Raw(Model.Content)</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>