@model CompanyManagementWeb.ViewModels.CompanyUserIndexViewModel
@for (int i = 0; i < Model.CompanyUsers.Count; i++)
{
    <tr>
        <th>
            @Model.CompanyUsers[i].Name
        </th>
        <th>
            <select id="department" onchange="selectDepartment(@Model.CompanyUsers[i].Id, this)" asp-for="@Model.CompanyUsers[i].DepartmentId" class ="form-control" asp-items="@Model.CompanyUsers[i].Departments">
                <option value="">Select</option>
            </select>
        </th>
        <th>
            <select id="role" onchange="selectRole(@Model.CompanyUsers[i].Id, this)" asp-for="@Model.CompanyUsers[i].RoleId" class ="form-control" asp-items="@Model.CompanyUsers[i].Roles">
                <option value="">Select</option>
            </select>
        </th>
        <th>
            <a onclick="deleteUser(@Model.CompanyUsers[i].Id)" class="button">Delete</a>
        </th>
    </tr>
}