@model CompanyManagementWeb.ViewModels.RoleIndexViewModel
@inject CompanyManagementWeb.Services.IUserService userService

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between my-3">
    <h2 class="m-0 align-bottom">Vai trò</h2>
    @if (await userService.IsInPermission("Department", "Edit"))
    {
        <a class="m-0 align-bottom btn btn-secondary" asp-action="Create">Tạo vai trò</a>
    }
</div>
@foreach (var item in Model.Roles)
{
<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">@item.Name</h5>
    </div>
    <div class="card-body">
        @if (@item.IsAdmin)
        {
            <div>
                Quyền hạn - Quản trị viên
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nội dung
                        </th>
                        <th>
                            Quyền hạn
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var detail in item.RoleDetails)
            {
                <tr>
                    <td>
                        @detail.Resource
                    </td>
                    <td>
                        @detail.Permission
                    </td>
                </tr>
            }
                </tbody>
            </table>
        }
    </div>
    @if (await userService.IsInPermission("Role", "Edit"))
    {
    <div class="card-footer">
        
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Chỉnh sửa</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
        
    </div>
    }
</div>
}