@model CompanyManagementWeb.ViewModels.PostCategoryViewModel
@inject CompanyManagementWeb.Services.IUserService userService

@foreach (var item in Model.PostCategories)
{
<tr>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @if (await userService.IsInPermission("PostCategory", "Edit"))
        {
            <a onclick="openEditModal(@item.Id, '@item.Name')" class="btn btn-primary mx-2 float-end">Chỉnh sửa</a>
            <a onclick="openConfirm(@item.Id, '@item.Name')" class="btn btn-danger mx-2 float-end">Xóa</a>
        }
    </td>
</tr>
}